<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>87732480120-vc4grho216hdheaqinrnqo7bqrapllk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87732480120-vc4grho216hdheaqinrnqo7bqrapllk0</string>
	<key>API_KEY</key>
	<string>AIzaSyCYhq9yF33tT2yQrtjEA1twyGh4Dq9nsUw</string>
	<key>GCM_SENDER_ID</key>
	<string>87732480120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-msi05</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-msi05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87732480120:ios:c0bddbf2b4157008</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-msi05.firebaseio.com</string>
</dict>
</plist>